
$mainColor: #161616;
$originalFontColor: #fefefe;
$fancyFontColor: #5CE9B5;
$darkFontColor: #999999;

$backgroundColor: #151515;
$fontColorPri: #fff;
$fontColorSecondary: #999;
$colorDark: #56565686;
$hovercolorDark: #56565621;